@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background: 
    url('../../public/img/Star.svg'),
    radial-gradient(circle, rgb(76, 29, 149) 0%, rgb(112, 0, 172) 100%);
    
}
